.mainChat
  
  .mainChat__groupInfo
    .leftBox
      %p.leftBox__currentGroup 
        = @group.name
      %ul.leftBox__memberList 
        Member :
        %li.leftBox__memberList__member
          - @members.each do |member|
            = member.name

    .editBtn 
      = link_to edit_group_path(@group.id), class: "editBtn__edit" do
        Edit
        
  .mainChat__messageList
    = render @messages
  
  .mainChat__messageForm
    = form_for [@group, @message] do |f|
      .inputBox
        = f.text_field :content, class: 'inputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'inputBox__image' do
          %i.far.fa-image
          = f.file_field :image, class: 'inputBox__image__file'
        = f.submit 'Send', class: 'inputBox__submitBtn'
 