.sideBar
  
  .sideBar__sideHeader
    .box
      %p.box__userName 
        = current_user.name
      %ul.box__icon
        %li.box__icon__newGroup
          = link_to new_group_path do
            %i.far.fa-edit
        %li.box__icon__editUser
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog

  .sideBar__groupList
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: 'group__groupUrl' do
          .group__groupName 
            = group.name
          .group__latestMessage 
            = group.show_last_message
    -# .sideBar__groupList__group
    -#   %p.sideBar__groupList__group__groupName 
    -#     グループ名
    -#   %p.sideBar__groupList__group__latestMessage 
    -#     最新のメッセージ

    -# .sideBar__groupList__group
    -#   %p.sideBar__groupList__group__groupName 
    -#     グループ名
    -#   %p.sideBar__groupList__group__latestMessage 
    -#     最新のメッセージ

    -# .sideBar__groupList__group
    -#   %p.sideBar__groupList__group__groupName 
    -#     グループ名
    -#   %p.sideBar__groupList__group__latestMessage 
    -#     最新のメッセージ